<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <div id="back">
    </div>
    <div id="panel">
        <div id="img"></div>
        <form action="/chat" method="GET">
            <input type="text" placeholder="username" name="username">
        </form>
    </div>
</body>
</html>